### Example Environment Variables for the 6 Second Scribbles Project

# Cloudflare variables
CLOUDFLARE_ACCOUNT_ID='your account id'
CLOUDFLARE_API_TOKEN='your api token'

# Vite variables
VITE_PARTYKIT_HOST='[project name].[github username].partykit.dev'
VITE_DEBUG=false
