### Environment
.env
.env.local
.env.*.local
*.local
.env.production

### OS
.DS_Store
Thumbs.db

### IDE / editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json


### Temp / cache
.tmp/
.cache/

### Node
node_modules/

### 
AGENTS.md
.claude