### Environment
.env
.env.*
!.env.example

### OS
.DS_Store
Thumbs.db

### IDE / editor
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json


### Temp / cache
.tmp/
.cache/

### Node
node_modules/
.pnpm-store/

### LLMs
AGENTS.md
.claude